.container {
  display: flex;
  justify-content: space-around;

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .card-base {
      width: 100%;
      cursor: pointer;
      h1 {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .logo {
    height: 300px;
  }
}
