<div class="container">
  <img
    class="logo"
    [@fadeInAnimation]
    src="../assets/images/logo.png"
    alt="Angular"
  />

  <div class="card-container">
    <div [@fly]="'in'" [@fadeInAnimation] class="card-base">
      <h1>Augular - 7.2.1</h1>
      <h1>Jest - 24.0.0</h1>
      <h1>Webpack - 4.28.4</h1>
      <h1>Author - Dhivakaran Ravi</h1>
    </div>
  </div>
</div>

<div
  [@fadeInAnimation]
  style="background-color: white;
    border-radius: 10px;
    border: 1px solid black; 
    padding: 20px;"
>
  <h1 style="color:black">Buttons - [angular-z-button]</h1>
  <angular-z-button
    [width]="'200px'"
    [loading]="true"
    [value]="'submit'"
    [type]="'round'"
    [color]="'red'"
  ></angular-z-button>

  <angular-z-button
    [width]="'200px'"
    [loading]="true"
    [value]="'submit'"
    [type]="'round'"
    [color]="''"
  ></angular-z-button>

  <angular-z-button
    [width]="'200px'"
    [loading]="true"
    [value]="'submit'"
    [type]="'round'"
    [color]="'black'"
  >
  </angular-z-button>

  <angular-z-button
    [width]="'200px'"
    [loading]="true"
    [value]="'submit'"
    [type]="'round'"
    [color]="'#E47A2E'"
  >
  </angular-z-button>

  <angular-z-button
    [width]="'200px'"
    [loading]="true"
    [value]="'submit'"
    [type]="'round'"
    [color]="'#BD3D3A'"
  >
  </angular-z-button>

  <angular-z-button
    [width]="'200px'"
    [loading]="true"
    [value]="'submit'"
    [type]="'round'"
    [color]="'blue'"
  >
  </angular-z-button>
</div>
